{% extends 'admin-temp/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 mt-4 d-flex justify-content-center" style="padding-bottom: 70px;">
    <div class="col-md-6 mt-3">
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <h3 style="text-align: center;">Catagory Add</h3>
            </div> 
            <div class="mb-4">
                <label for="catagory_name" class="form-label">Name</label>
                 <input type="text" placeholder="Type here" class="form-control"
                 id="catagory_name" name="catagory_name"   /> 
            </div>
            <div class="mb-4">
                <label for="catagory_slug" class="form-label">Slug</label>
                 <input type="text" placeholder="Type here" class="form-control"
                    name="catagory_slug" /> 
            </div>
            <div class="mb-4">
                <label class="form-label">Description</label>
               <textarea placeholder="Type here" class="form-control" name='catagory_description'></textarea> 
            </div>
            <div class="mb-4">
                <label for="catagory_image" class="form-label">Image</label>
                 <input type="file" id="catagory_image" name="catagory_image" accept="image/*" class="form-control" /> 
            </div> 
            <div class="d-grid">
                <button type='submit' class="btn btn-primary">Create category</button>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
