{% extends 'admin-temp/base.html' %}
{% load static %}
{% block content %}



<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        
        <div>
            <div class="d-grid">
                <a href="{% url 'category-add' %}" class="btn btn-primary">Create category</a>
            </div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% comment %} <div class="col-md-3">
                    <form  method='post'>
                    
                       
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_name" />
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Slug</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_slug" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Category</label>
                            <input type="text" placeholder="Type here" class="form-control" id="product_category" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Create category</button>
                        </div>
                    </form>
                </div> {% endcomment %}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {% comment %}
                                    <th class="text-center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>
                                    </th>
                                    {% endcomment %}
                                    {% comment %}
                                    <th>ID</th>
                                    {% endcomment %}
                                    <th style="width: 200px;" class="text-center">Name</th>
                                    <th style="width: 300px;" class="text-center">Description</th>
                                    <th style="width: 200px;" class="text-center">Slug</th>
                                    <th style="width: 150px;" class="text-center">Image</th>
                                    <th class="text-end" style="width: 60px;" class="text-center">Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ca in cate %}
                                <tr>
                                    <td style="vertical-align: middle;" class="text-center"><b>{{ca.catagory_name}}</b></td>
                                    <td style="vertical-align: middle;" class="text-center">{{ca.description}}</td>
                                    <td style="vertical-align: middle;" class="text-center">{{ca.slug}}</td>
                                    <td style="vertical-align: middle;" class="text-center"><img src="{{ca.cat_image.url}}"></td>
                                    {% comment %}
                                    <td style="vertical-align: middle;" class="text-center">{{ca.cat_image.url}}</td>
                                    {% endcomment %}
                                    <td class="text-end" style="vertical-align: middle;" class="text-center">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                                <i class="material-icons md-more_horiz"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="{% url 'update_catagory' ca.id %}">Update</a>
                                                <a class="dropdown-item text-danger" href="{% url 'delete_category' ca.id %}">Delete</a>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

{% endblock %}
