{% extends 'admin-temp/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 mt-4 d-flex justify-content-center" style=" background-color: white; padding: 20px;">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <form enctype="multipart/form-data" method="POST" >
                    {% csrf_token %}
                    <h6 class="content-title" style="text-align: center;">Update Category</h6>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        {{ form.catagory_name }}
                        {% if form.errors.catagory_name %}
                        <label  class="text-danger">{{ form.errors.catagory_name }}</label>
                        {% endif %}
                        
                    </div>
                    <div class="mb-3">
                         <label for="slug" class="form-label">Slug</label> 
                        {{form.slug}}
                        {% if form.errors.slug %}
                        <label  class="text-danger">{{form.errors.slug}}</label>
                        {% endif %}
                        
                    </div> 
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Images</label>
                        {{form.cat_image}}
                        {% if form.errors.cat_image%}
                        <label  class="text-danger">{{form.errors.cat_image}}</label>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <div class="form-floating">
                        
                        {{form.description}}
                        {% if form.errors.description%}
                        <label  class="text-danger">{{form.errors.description}}</label>
                        {% endif %}
                        </div>   
                    </div>
                    <button type="submit" class="btn btn-primary">Update Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
