{% load static %}


<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'assets/imgs/theme/plantopia.png' %}" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="{% url 'my_admin_view' %}"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'product_listt' %}"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'orderpage' %}"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'my_admin_category' %}"> <i class="icon material-icons md-store"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'add_product' %}"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="{% url 'coupons' %}"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Coupons</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{% url 'users-list' %}"> <i class="icon material-icons md-person"></i>
                    <span class="text">Account</span>
                </a>
            </li>
        </ul>
        <hr>
    </nav>
</aside>