{% extends 'base.html' %}
{% load static %}
{% block content %}




<main class="main" id="address-block">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <form action="" method='POST' id='form-sub'>
                {% csrf_token %}
                <div class="row">

                     
                    <div class="col-md-6">
                        <a href="{% url 'add_address' %}" class="btn" style="margin-bottom: 50px;">
                            <i class="fi-rs-box-alt mr-10"></i>Add Address
                          </a>
                          
                        <style>
                            .card {
                              margin-bottom: 20px; 
                            }
                          </style>
                          
                        <div class="card">
                            
                            <div class="card-header">
                                <div class="custom-radio">
                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Billing Adrress</label>
                                    
                                </div>
                              
                            </div>
                            
                            <div class="card-body">
                                
                                <tbody>
                                    {% for addr in address|slice:":3" %}
                                    <tr>
                                         
                                    <td class="product-col">
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                value="{{addr.id}}" type="radio"
                                                name="address_id" id="addressRadio{{addr.id}}" {% if forloop.first %} checked {% endif %} >
                                        </div>
                    
                                        <p class="ml-5">
                                         <strong>Name :{{ addr.first_name }} {{ addr.last_name}}</strong>,<br>Address :{{ addr.address_line_1}},<br>{{ addr.address_line_2}} 
                                          ,<br>
                                         City :{{ addr.city }}, <br>
                                        State :{{addr.state}} <br> Pin :{{addr.post_code}} <br>
                                        Phone No :{{addr.phone_number}}                                      
                                        </p>
                                    </td>                                 
                                    </tr> 
                                    {% endfor %}                                 
                                </tbody>                           
                            </div>
                          </div>    
                         </div>      
                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail"><img src="{{ cart_item.product.images.url }}" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">{{ cart_item.product.product_name }}</a></h5> 
                                                    <span class="product-qty">x {{ cart_item.quantity }}</span>
                                                </td>
                                                <td>₹{{ cart_item.sub_total }}</td>
                                            </tr>
                                        {% endfor %}
        
                                            <tr>
                                                <th>SubTotal</th>
                                                <td class="product-subtotal" colspan="2" id="subtotal">₹{{ total_total }}</td>
                                                <span hidden  colspan="2" id="Subtotal">{{ total_total }}</span>
                                            </tr>
                                            <tr>
                                                <th>GST</th>
                                                <td colspan="2"><em>₹{{ GST }}</em></td>
                                                <span hidden  colspan="2" id="gstValue">{{ GST }}</span>
                                            </tr>
                                            {% if coupon_discount > 0 %}
                                            <tr>
                                                <th>Coupon Discount</th>
                                                <td colspan="2" class="product-subtotal" >
                                                <span   class="font-xl text-brand fw-900">₹{{ coupon_discount }}</span>
                                                <span  hidden id="coupon_discount" class="font-xl text-brand fw-900">{{ coupon_discount }}</span>
                                                <span id="coupon-id" data-coupon-id="{{ coupon_id }}"></span>                                                
                                            </td>
                                            </tr> 
                                            {% endif %}
                                            <tr>
                                                <th>Total</th>
                                                <td colspan="2" class="product-subtotal" >
                                                <span   class="font-xl text-brand fw-900">₹{{ grand_total }}</span>
                                                <span  hidden id="total_price" class="font-xl text-brand fw-900">{{ grand_total }}</span>
                                                
                                            </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option" id="accordion-payment" name="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input payment_option_radio" required="" type="radio" name="payment_option" id="exampleRadios4" value="Razor Pay">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment">Razor Pay</label>
                                        <!-- Rest of the content -->
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input payment_option_radio" required="" type="radio" name="payment_option" id="exampleRadios5" value="Cash On Delivery">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal">Cash On Delivery</label>
                                        <!-- Rest of the content -->
                                    </div>
                                </div>
                            </div>
                            <button id="placeOrder" value="{{cart}}" type="button"
                            class="btn btn-outline-primary-2 btn-order btn-block">

                            <span class="btn-text">Place Order</span>
                        </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
        $('#placeOrder').on('click', function (e) {
            e.preventDefault()
            console.log('place order clickedd....')
            
            let cartId = $('#placeOrder').val();
            console.log(cartId);
            
            let addressID = $('.form-check-input:checked').val(); 
            console.log(addressID);

            let subTotal = $('#Subtotal').text().trim();
            console.log(subTotal);
            console.log('Subtotal Element:', subTotal);

            let gst = $('#gstValue').text().trim();

            //let sub_tot=parseFloat(subTotal);
            //console.log(sub_tot);
            //console.log('Subtotal:', sub_tot);
            
            //let grandPriceText = $('#total_price').text();
           
            let grandPriceText =$('#total_price').text().trim();
            console.log(grandPriceText);

            let grandTotal = parseFloat(grandPriceText);
            console.log(grandTotal);
            console.log('grandTotal Element:', grandTotal);
        
            let paymentmethod = $('input[name="payment_option"]:checked').val();
            console.log(paymentmethod);

            const couponID = $('#coupon-id').data('coupon-id');
            console.log("couponID" + couponID)
            if (couponID !== undefined && couponID !== null && couponID !== "") {
                console.log('Coupon ID:', couponID);

             
        
                if (paymentmethod === "Razor Pay") {    //razorpay method
                    console.log("Razorpay");
                    const data = {
                        addressID: addressID,
                        subTotal : subTotal,
                        GST : gst,
                        grandPriceText: grandTotal,
                        paymentmethod: paymentmethod,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        coupon_id: couponID,
                    };
                    
                    $.ajax({
                        url: "/orders/order/",
                        method: 'POST',
                        data: data,
                        success: function(response) {
                            console.log("razorpay started")
                            razorpay(response);
                            var coupon_discount = response.response.coupon_discount;
                            
                        }
                    });
                    console.log(response)
        
                } else {  //cod method
                    const data = {
                        addressID: addressID,
                        subTotal : subTotal,
                        GST : gst,
                        grandPriceText: grandPriceText,
                        paymentmethod: paymentmethod,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        coupon_id: couponID,
                    };
            
                    $.ajax({
                        url: '/orders/order/',
                        method: 'POST',
                        data: data,
                        success: function(response) {
                            console.log(response);
                            console.log("code run success");
                            var coupon_discount = response.response.coupon_discount;
                            console.log(response.response.orders_id);
                            window.location.href = '{% url 'order_success' %}?order_id=' + response.response.order_id + '&orders=' + response.response.orders_id + '&coupon_discount=' + coupon_discount;
                            //window.location.href = '{% url 'order_success' %}?order_id=' + response.response.order_id + '&orders=' + response.response.orders_id + '&subtotal=' + subTotal + '&GST=' + GST + '&grand_total=' + grandTotal;
                            
                            
                        }
                    });
                }
         
            }
            //razorpay function
            function razorpay(response) {
               
               console.log(response.response.orders_id)
                var options = {
                    "key": response.response.key, // Enter the Key ID generated from the Dashboard
                    "amount": response.response.amount_paid * 100, // Amount is in currency subunits.
                    "currency": "INR",
                    "name": "Plantopia",
                    "order_id":response.response.payment_id, // Pass the `id` obtained in the response of the server-side order creation
                    "handler": function(Response) {
                       
                        window.location.href = '{% url 'order_success' %}?order_id=' + response.response.order_id + '&orders=' + response.response.orders_id +'&coupon_discount=' + coupon_discount;
                        //window.location.href = '{% url 'order_success' %}?order_id=' + response.response.order_id + '&orders=' + response.response.orders_id + '&subtotal=' + subTotal + '&GST=' + GST + '&grand_total=' + grandTotal;

    
                    },
                   
                };
        
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response){
                    // Handle Razorpay failure callback (optional)
                    console.log("Payment failed!");
                    console.log(response.error.code);
                    console.log(response.error.description);
                    console.log(response.error.source);
                    console.log(response.error.step);
                    console.log(response.error.reason);
                    console.log(response.error.metadata.order_id);
                    console.log(response.error.metadata.payment_id);
                });
        
                rzp1.open();
            }
        });
        
    

</script>
{% endblock script %}











