{% extends 'admin-temp/base.html' %}
{% load static %}
{% block content %}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products grid</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <a href="{% url 'add_product' %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        {% comment %} <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'search' %}" method="GET">  
                        <input type="text" placeholder="Search..." class="form-control" name="keyword">
                    </form>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>All category</option>
                        <option>Electronics</option>
                        <option>Clothings</option>
                        <option>Something else</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Latest added</option>
                        <option>Cheap first</option>
                        <option>Most viewed</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// --> {% endcomment %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="productPagination">
                    <thead>
                        <tr>
                            <th style="width: 100px;" class="text-center">Image</th>
                            <th style="width: 200px;" class="text-center">Name</th>                          
                            <th style="width: 100px;" class="text-center">Price</th>
                            <th  style="width: 200px;" class="text-center">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for Product in products %}
                        <tr>  
                            <td style="vertical-align: middle; height:100px" class="text-center">
                                <a href="{{ Product.get_url }}" class="img-wrap"> 
                                    <img src="{{ Product.images.url }}" alt="Product"> 
                                </a>
                            </td>
                            <td style="vertical-align: middle;" class="text-center">
                                <a href="#" class="text-truncate">{{ Product.product_name }}</a>
                            </td>
                            
                            <td style="vertical-align: middle;" class="text-center">₹ {{ Product.price }}</td>
                            <td style="vertical-align: middle;" class="text-center">
                                <a href="{% url 'update_product' Product.id %}" class="btn btn-sm font-sm rounded btn-brand">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="{% url 'delete_product' Product.id %}" class="btn btn-sm font-sm btn-light rounded">
                                    <i class="material-icons md-delete_forever"></i> Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive end// -->
        </div> <!-- card-body end// -->
         <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->

</main>
<script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
<!-- Main Script -->
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
</body>
{% endblock %}
{% block script %}
<script>
    $('#productPagination').DataTable({
        paging:true,
        pageLength:5,
        lengthChange:true,
        autoWidth:true,
        searching:true,
        bInfo:true,
        bSort:false,
    })
</script>
{% endblock script %}
