{% extends 'base.html' %}
{% load static %}
{% block content %}




<main class="main" id="address-block">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Checkout
                <span></span>Payments
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">

       
         

        <div class="container">
            <form action="" method='POST' id='form-sub'>
                {% csrf_token %}
                <h4 class="text-center mb-10">Review your Order and make Payment</h4>
                <div class="row">
                    <div class="col-md-6">
                        <style>
                            .card {
                              margin-bottom: 20px; 
                            }
                          </style>
                        <div class="card">
                            <div class="card-header">
                              Billing Adrress
                            </div>
                            <div class="card-body">
                              
                              <p class="card-text mb-0">{{ order.full_name }}</p>
                              <p class="card-text mb-0">{{ order.full_address }}</p>
                              <p class="card-text mb-0">{{ order.city }} , {{ order.state }}</p>
                              <p class="card-text mb-0">{{ order.country }}</p>
                              <p class="card-text mb-0">{{ order.email }}</p>
                              <p class="card-text mb-0">{{ order.phone_number }}</p>
                              {% if order.order_note %}
                                <b>Order Note : </b> {{ order.order_note }}
                              {% endif %}
                              
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                              Payment Method
                            </div>
                            <div class="card-body">
                              
                              <p class="card-text">Paypal</p>
                              
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                              Review Products
                            </div>
                            <div class="card-body">
                              
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail"><img src="{{ cart_item.product.images.url }}" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">{{ cart_item.product.product_name }}</a></h5> 
                                                    <span class="product-qty">x {{ cart_item.quantity }}</span>
                                                </td>
                                                <td>${{ cart_item.sub_total }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>        
                              
                            </div>
                          </div>
                        
                        
                        
                    </div>
                    
                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4>Your Orders</h4>
                                </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                            <tr>
                                                <td class="image product-thumbnail"><img src="{{ cart_item.product.images.url }}" alt="#"></td>
                                                <td>
                                                    <h5><a href="shop-product-full.html">{{ cart_item.product.product_name }}</a></h5> 
                                                    <span class="product-qty">x {{ cart_item.quantity }}</span>
                                                </td>
                                                <td>${{ cart_item.sub_total }}</td>
                                            </tr>
                                        {% endfor %}
        
                                            <tr>
                                                <th>SubTotal</th>
                                                <td class="product-subtotal" colspan="2">${{ total }}</td>
                                            </tr>
                                            <tr>
                                                <th>GST</th>
                                                <td colspan="2"><em>${{ GST }}</em></td>
                                            </tr>
                                            <tr>
                                                <th>Total</th>
                                                <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">${{ grand_total }}</span></td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Cash On Delivery</label>
                                        <div class="form-group collapse in" id="checkPayment">
                                            <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Paypal</label>
                                        <div class="form-group collapse in" id="paypal">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                               <!--paypal button will load--> 
                               <button id="paypal-button-container" value="{{cart}}" name="submit" class="btn btn-fill-out btn-block mt-30">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed</span>
                               </button> 
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>
 



{% endblock content %}